$background: #292929;
$default: #A0A0A0;
$dark-grey: #5F5F5F;
$accent-grey: #C4C4C4;
$log-background: #EAEAEA;
$purple-team: #B264F2;
$green-team: #4CC36d;
$orange: #FF9900;


body {
    background-color: $background;
    display: flex;
    flex-direction: column;
}


/* --------------------------------------------------------------------------------------------------------------------------- */

/* Header */

.header{
    flex: 1;
}


/* --------------------------------------------------------------------------------------------------------------------------- */

/* Main Content */

.content{
    display: flex;
    flex: 12;
}


/* --------------------------------------------------------------------------------------------------------------------------- */

/* Teams */

.teams {
    display: flex;
    flex: 1;
    flex-direction: column;
}


/* --------------------------------------------------------------------------------------------------------------------------- */

/* Words */

.word-container{
    display: flex;
    flex: 2;
    flex-direction: column;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* Logs */

.logs{
    display: flex;
    flex: 1;
    flex-direction: column;
}
