@import "../shared/variables";

.container {
  background: #eaeaea;
  overflow: hidden;
  margin-top: 1em;
  border-radius: 15px;
}

.GameLog-Header {
  color: black;
  text-align: center;
  background: #c4c4c4;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: 0;
}
.GameLog-Header h1 {
  font-size: 1.1em;
}
.gameLog-msgs {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
}

button {
  font-size: 25px;
  font-weight: bold;
  border: none;
}

.mobile-gameLog-btn {
  display: none;
  margin-left: 10px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background: $orange;
  color: white;
  font-size: small;

  &:active {
    background-color: $orange-hover;
  }
}

@media (max-width: $mobile-width) {
  .mobile-gameLog-btn {
    display: block;
  }

  .game-log {
    display: none;
    position: absolute;
    z-index: 10;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 3rem 1.5rem;
  }

  .mobile-overlay-log {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000060;
    z-index: 9;
  }
  h1 {
    margin-left: auto;
  }
}
