@import '../shared/variables';

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rules-container h3 {
    margin: 0;
}

@media (max-width: $mobile-width) {
    .login-container {
        flex-direction: row;
    }

    .login-page h2 {
        font-size: 16px;
        margin-top: 5px;
    }

    .rules-container h3 {
        font-size: 14px;
    }

    .rules-container button {
        padding: 5px;
    }
}