<div class="flex flex-wrap justify-content-center">
  <div
    class="flex justify-content-center col-12 sm:col-6 lg:col-2 word-card team-option purple"
    [ngClass]="{
      'team-option purple': !purpleMastermindTaken(),
      gray: purpleMastermindTaken()
    }"
    (click)="updatePurpleMastermind()"
  >
    Mastermind
  </div>
  <div
    class="flex justify-content-center col-12 sm:col-6 lg:col-2 word-card team-option purple"
    (click)="updatePurpleMinion()"
  >
    Minion
  </div>
  <div
    class="flex justify-content-center col-12 md:col-6 lg:col-2 word-card team-option green"
    (click)="updateGreenMinion()"
  >
    Minion
  </div>
  <div
    class="flex justify-content-center col-12 sm:col-6 lg:col-2 word-card team-option green"
    [ngClass]="{
      'team-option purple': !greenMastermindTaken(),
      gray: greenMastermindTaken()
    }"
    (click)="updateGreenMastermind()"
  >
    Mastermind
  </div>
</div>
