@import "../shared/variables.scss";
@import "../shared/word-card.scss";

.grid {
  justify-content: center;
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: row;
  margin-left: 10px;
}

.team-option {
  cursor: pointer;
}

.gray {
  background-color: $default;
}

.purple {
  background-color: $purple-team;
}

.green {
  background-color: $green-team;
}
