<!-- Minion Card  -->
<div class="minion-card" [ngClass]="!isMyTurn ? 'not-guessing' : ''">
    <!-- Word Card  -->
    <div>
        <div class="word-card {{gameWord.word}}-card" 
        [ngClass]="gameWord.guessed ? gameWord.category + ' guessed' : 'minion'" 
        id='{{gameWord.word}}-card' 
        (click)="onMinionCardClick()">
            {{gameWord.word}}

            <!-- Suggest names -->
            <ng-container *ngIf="gameWord.suggested.length > 0">
                <div class="suggest-name minion1 {{gameWord.suggested[0].team}}">
                    {{gameWord.suggested[0].username}}
                </div>
            </ng-container>
            <ng-container *ngIf="gameWord.suggested.length > 1">
                <div class="suggest-name minion2 {{gameWord.suggested[1].team}}">
                    {{gameWord.suggested[1].username}}
                </div>
            </ng-container>
        </div>
    </div>

    <!-- Guess Button -->
    <ng-container *ngIf="!gameWord.guessed">
        <button class="guess-button" (click)="onGuessButtonClick()">
            Guess
        </button>
    </ng-container>
</div>
