@import '../shared/variables';

.roomcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 5px;
    gap: 5px;
}

#roomcode {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 15px;
    font-size: 16px;
    margin: 0px;
}

.copy-roomcode-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.roomcode-label {
    margin: 0px;
}

button {
    background-color: $default;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    width: fit-content;
    border: 1px solid $default;
}

button:hover {
    background-color: $accent-grey;
    border: 1px solid $accent-grey;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
  display: none;
  width: 70px;
  background-color: $orange;
  color: white;
  text-align: center;
  padding: 5px 0px;
  border-radius: 6px;
  margin: 5px;
  top: 100%;
  left: 50%;
  margin-left: -35px;
  
  position: absolute;
  z-index: 1;
}

@media (max-width: $mobile-width){
    .roomcode-label {
        display: none;
    }

    .copy-roomcode-container {
        flex-direction: column;
    }

    #roomcode {
        padding: 2px 5px;
    }

    button {
        width: 90px;
        font-size: 14px;
        padding: 2px 10px;
    }
}