<div class="login">
    <h1>Join a Game</h1>
    <hr>
    <h2>Nickname</h2>
    <input type="text" id="join-game-nickname" (keydown)="resetErrorMessages()">
    <p class="error-message" id="error-message-nickname">The nickname you entered already exists.</p>  
    <p class="error-message" id="error-message-no-nickname-join">The nickname cannot be empty.</p>  
    <h2>Room Code</h2>
    <input type="text" id="room-code" (keydown)="resetErrorMessages()">  
    <p class="error-message" id="error-message-room-code">The room code does not exist.</p>  
    <p class="error-message" id="error-message-max-capacity">Max capacity reached.</p>  
    <button (click)="joinRoom()">Join</button>
</div>