<div class="userPopUp">
  <h1>Nickname</h1>

  <form (submit)="onSubmit()">
    <input
      id="input"
      type="text"
      [(ngModel)]="valueUsername"
      name="username"
      value="{{ username }}"
    />
    <button>Save</button>
  </form>

  <button *ngIf="!spectator" (click)="switchTeam()" class="{{ oppositeColor }}">
    Switch to <br />
    {{ oppositeColor }} Team
  </button>
  <button *ngIf="!spectator" (click)="becomeSpectator()">
    Become <br />
    Spectator
  </button>
  <button (click)="leaveRoom()" class="leave-room">Leave Room</button>
</div>

<p-dialog
  class="background"
  [(visible)]="displayUsernameError"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
>
  <!-- <div class="errormessage"> -->
    <h2 class="errorFontSize">
      Whoops! Username Exceeds 12 Characters! Please try again.
    </h2>
  <!-- </div> -->
</p-dialog>
