<div class="userPopUp">
  <h1>Nickname</h1>

  <form (submit)="onSubmit()">
    <input
      id="input"
      type="text"
      [(ngModel)]="valueUsername"
      name="username"
      value="{{ username }}"
    />
    <button>Save</button>
  </form>

  <button *ngIf="!spectator" (click)="switchTeam()" class="{{ oppositeColor }}">
    Switch to <br />
    {{ oppositeColor }} Team
  </button>
  <button *ngIf="!spectator" (click)="becomeSpectator()">
    Become <br />
    Spectator
  </button>
  <button (click)="leaveRoom()" class="leave-room">Leave Room</button>
</div>

<p-dialog
  class="background"
  [(visible)]="displayUsernameError"
  [modal]="true"
  [style]="{
    width: '70vw',
    height: '25vh',
    'background-color': '#EAEAEA',
    'text-align': 'center',
    color: '#000',
    'border-radius': '20px',
    border: '2px solid black',
    padding: '10px'
  }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="errormessage">
    <h2 class="errorFontSize">
      Whoops! Username Exceeds 12 Characters! Please try again.
    </h2>
  </div>
</p-dialog>
