<div class="userPopUp" (clickOutside)="onClickedOutside($event)">
  <h1>Nickname</h1>

  <form (submit)="onSubmit()">
    <input
      id="input"
      type="text"
      [(ngModel)]="valueUsername"
      name="username"
      value="{{ username }}"
    />
    <button>Save</button>
  </form>

  <button (click)="switchTeam()" class="{{ oppositeColor }}">
    Switch to <br />
    {{ oppositeColor }} Team
  </button>
  <button>
    Become <br />
    Spectator
  </button>
  <button (click)="leaveRoom()" class="leave-room">Leave Room</button>
</div>
