@import '../shared/variables';

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0px;
    margin: 0;
    margin-top: 5px;
}

.Green { color: $green-team; }
.Purple { color: $purple-team; } 


button {
    font-size: 25px;
    font-weight: bold;
    border: none;
}

.play-again-button {
    color: white;
    border-radius: 10px;
    padding: 2px 2rem;
    background: $orange;
    align-self: center;
    transition: 0.2s ease;

    &:hover {
        background: $orange-hover;
    }
}
