@import '../shared/variables';

.game-status-bar {
    border-radius: 20px;
    text-align: center;
    padding: 10px 0px;
}

.Green { background-color: $green-team; }
.Purple { background-color: $purple-team; } 