@import "../shared/variables";

.container {
  max-width: 285px;
  background: #eaeaea;
  margin: 10px 15px;
  overflow: hidden;
  border-radius: 15px;
}

/* Chat header */
.Chat-Header {
  color: black;
  text-align: center;
  background: #c4c4c4;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: 0;
}
.Chat-Header h1 {
  font-size: 1.1em;
}
/* Form styling */

.Chat-Footer {
  color: black;
  text-align: center;

  display: flex;
  justify-content: center;
}

.form-container {
  padding: 0 15px;
  padding-bottom: 0;
  // background-color: #eaeaea;
}

.form-container form {
  display: flex;
}

.form-container input[type="text"] {
  font-size: 16px;
  width: 215px;
  padding: 1px;
  margin-bottom: 10px;
  padding-right: 0px;
  height: 30px;
  flex: 1;
  border-radius: 10px;
  border: 0;
}

.sendbtn {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-right: 1px;
  margin-left: 3px;
  margin-bottom: 8px;
  background: #c4c4c4;
  color: black;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
/* Messages styling */
.chat-msg {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 275px;
}

.chat-msg .message {
  width: 10em;
  margin-left: 0;
  background-color: $green-team;
  border-radius: 10px;
  overflow-wrap: break-word;
  margin-bottom: 5px;
}

.chat-msg .message .text {
  color: white;
  margin: 0 5px;
  padding-bottom: 2px;
}
.chat-msg h1 {
  font-size: 1em;
  margin: 3px auto auto 5px;
  break-after: always;
}

.msg-container {
  width: 100%;
  display: flex;
}

.msg-container.right {
  justify-content: flex-end;
}

.msg-container.left {
  justify-content: flex-start;
}

.msg-container.right > .msg {
  background-color: #ccc;
}

.msg-container.left > .msg {
  background-color: #555;
  color: white;
}

.msg {
  max-width: 50%;
  border-radius: 10px;
}

/* Mobile */
button {
  font-size: 25px;
  font-weight: bold;
  border: none;
}

.mobile-chat-btn {
  display: none;
  background-color: transparent;
  margin-top: 1em;
}
  .mobile-chat-btn.Green {
    color: $green-team;
    &:active
    {
      color: $green-hover;
    }
  }
  .mobile-chat-btn.Purple {
    color: $purple-team;
    &:active
    {
      color: $purple-hover;
    }
  }

  @media (max-width: $mobile-width){
    .mobile-chat-btn {
      display: block;
    }

    .mobile-overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #00000060;
      z-index: 9;
    }

    .chat {
      display: none;
      position: relative;
      z-index: 10;
      width: auto;
      height: auto;  
      max-width: 100vw;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 3rem 1.5rem;
    }

    .chat-msg {
      height: 75vh;
    }

    .Chat-Footer {
      display: block;
    }
  }