<header>
  <app-roomcode></app-roomcode>

  <div class="right-header">
    <app-rules-button></app-rules-button>
    <app-user-popup></app-user-popup>
  </div>
  <app-user-popup-box *ngIf="isClicked"></app-user-popup-box>
</header>
<div class="main-content">
  <div style="float: right">
    <app-game-log></app-game-log>
    <app-chat></app-chat>
  </div>
  <app-game-status></app-game-status>
  <button (click)="updateGreenMastermind()">Join as Green Mastermind</button>
  <button (click)="updateGreenMinion()">Join as Green Minion</button>
  <button (click)="updatePurpleMastermind()">Join as Purple Mastermind</button>
  <button (click)="updatePurpleMinion()">Join as Purple Minion</button>

  <div class="centered-content">
    <app-word-grid></app-word-grid>

    <app-send-clue></app-send-clue>
    <app-minion-clue></app-minion-clue>
  </div>

  <app-game-over></app-game-over>
</div>
