<div class="flex main-content p-1">
  <!-- Left -->
  <div class="left-content col-2">
    <app-roomcode></app-roomcode>
    <app-team-board [team]="greenTeam" style="height: 100%"></app-team-board>
    <div style="margin-top: 3rem"></div>
    <app-team-board [team]="purpleTeam" style="height: 100%"></app-team-board>
  </div>

  <!-- Center  -->
  <div class="centered-content col-7">
    <app-game-status></app-game-status>
    <app-word-grid
      [ngStyle]="{ display: !hasTeam() ? 'none' : 'unset' }"
    ></app-word-grid>
    <app-send-clue></app-send-clue>
    <app-minion-clue></app-minion-clue>
    <app-game-over></app-game-over>
  </div>

  <!-- Right -->
  <div class="right-content col-2">
    <div class="top-buttons">
      <app-rules-button></app-rules-button>
      <app-user-popup id="userPopup"></app-user-popup>
      <app-user-popup-box
        (clickOutside)="onClickedOutside($event)"
        *ngIf="isClicked"
      ></app-user-popup-box>
    </div>
    <div class="bottom-content">
      <app-game-log></app-game-log>
      <app-chat></app-chat>
    </div>
  </div>
</div>