header {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: row;
}

@import "../shared/variables";

.centered-content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: stretch;
  flex-direction: column;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 18vw;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 15vw;
}

.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.spacer {
  margin-top: 3rem;
}

// Mobile
.mobile-team-btn {
  display: none;
  border-radius: 2em;
  background: $orange;
  padding: 1em 0.5em;
  color: white;
  font-size: small;

  &:active {
    background-color: $orange-hover;
  }
}

@media (max-width: $mobile-width) {
  .top-buttons {
    flex-direction: column;
  }
  .right-content {
    max-width: 5em;
    min-width: auto;
  }

  .left-content {
    min-width: auto;
  }

  .mobile-team-btn {
    display: block;
  }

  .spacer {
    margin-top: 0;
  }
}
