<div class="flex main-content p-1">
  <!-- Left -->
  <div class="left-content col-2">
    <app-roomcode></app-roomcode>
    <app-team-board
      [team]="greenTeam"
      [isMobile]="IsMobile()"
      style="height: 100%"
    ></app-team-board>
    <div class="spacer"></div>
    <app-team-board
      [team]="purpleTeam"
      [isMobile]="IsMobile()"
      style="height: 100%"
    ></app-team-board>

    <!-- Mobile TeamBoard Popup  -->
    <p-dialog
      class="background"
      [(visible)]="displayTeamMobile"
      [modal]="true"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
      [dismissableMask]="true"
      [header]="'Team Details'"
    >
      <div class="flex align-items-stretch" style="color: white">
        <app-team-board [team]="greenTeam" [isMobile]="false"></app-team-board>
        <div style="margin-left: 1rem"></div>
        <app-team-board [team]="purpleTeam" [isMobile]="false"></app-team-board>
      </div>
    </p-dialog>
    <button class="mobile-team-btn" (click)="MobileOpenTeam()">
      Show Team Details
    </button>
  </div>

  <!-- Center  -->
  <div class="centered-content col-7">
    <app-game-status></app-game-status>
    <app-word-grid></app-word-grid>
    <app-send-clue></app-send-clue>
    <app-minion-clue></app-minion-clue>
    <app-game-over></app-game-over>
  </div>

  <!-- Right -->
  <div class="right-content col-2">
    <div class="top-buttons">
      <app-rules-button></app-rules-button>
      <app-user-popup id="userPopup"></app-user-popup>
      <app-user-popup-box
        (clickOutside)="onClickedOutside($event)"
        *ngIf="isClicked"
      ></app-user-popup-box>
    </div>
    <div class="bottom-content">
      <app-game-log></app-game-log>
      <app-chat></app-chat>
    </div>
  </div>
</div>
