$background: #292929;
$default: #A0A0A0;
$dark-grey: #5F5F5F;
$darker-grey: #383838;
$accent-grey: #C4C4C4;
$log-background: #EAEAEA;
$purple-team: #B264F2;
$green-team: #4CC36d;
$orange: #FF9900;
$error-message: #cc0000;

// Hover Colours:
$orange-hover: #ca7710;

$mobile-width: 800px;