@import '../shared/variables';
@import '../shared/word-card';

.grid {
    justify-content: center;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    margin-left: 10px;
}